@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: "Mulish", sans-serif;
}

:root {
  --slider-connect-bg: #00a1e5;
  --slider-bg: #dddddd;
  --slider-height: 7px;
  --slider-radius: 99px !important;
  --slider-handle-width: 16px;
  --slider-handle-height: 16px;
  --slider-handle-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --slider-handle-shadow-active: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --slider-handle-ring-color: #3b83f600;
}

.slider-touch-area {
  border: 2px solid #00a1e5;
  border-radius: 8px;
}
